; begin auth token
//pkgs.dev.azure.com/matabeitt/ce1d5987-47f5-4bec-9117-2312a6865949/_packaging/node-wipay/npm/registry/:username=matabeitt
//pkgs.dev.azure.com/matabeitt/ce1d5987-47f5-4bec-9117-2312a6865949/_packaging/node-wipay/npm/registry/:_password=dGY3ejVrbnN3dGx4N3htZGdhbWJlNzI0cHZtamtkaGxnY3hvN2w1dGF2Z21xbmdkYjRtcQ==
//pkgs.dev.azure.com/matabeitt/ce1d5987-47f5-4bec-9117-2312a6865949/_packaging/node-wipay/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/matabeitt/ce1d5987-47f5-4bec-9117-2312a6865949/_packaging/node-wipay/npm/:username=matabeitt
//pkgs.dev.azure.com/matabeitt/ce1d5987-47f5-4bec-9117-2312a6865949/_packaging/node-wipay/npm/:_password=dGY3ejVrbnN3dGx4N3htZGdhbWJlNzI0cHZtamtkaGxnY3hvN2w1dGF2Z21xbmdkYjRtcQ==
//pkgs.dev.azure.com/matabeitt/ce1d5987-47f5-4bec-9117-2312a6865949/_packaging/node-wipay/npm/:email=npm requires email to be set but doesn't use the value
; end auth token