registry=https://pkgs.dev.azure.com/matabeitt/_packaging/matabeitt%40Local/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/matabeitt/_packaging/matabeitt%40Local/npm/registry/:username=matabeitt
//pkgs.dev.azure.com/matabeitt/_packaging/matabeitt%40Local/npm/registry/:_password=dGY3ejVrbnN3dGx4N3htZGdhbWJlNzI0cHZtamtkaGxnY3hvN2w1dGF2Z21xbmdkYjRtcQ==
//pkgs.dev.azure.com/matabeitt/_packaging/matabeitt%40Local/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/matabeitt/_packaging/matabeitt%40Local/npm/:username=matabeitt
//pkgs.dev.azure.com/matabeitt/_packaging/matabeitt%40Local/npm/:_password=dGY3ejVrbnN3dGx4N3htZGdhbWJlNzI0cHZtamtkaGxnY3hvN2w1dGF2Z21xbmdkYjRtcQ==
//pkgs.dev.azure.com/matabeitt/_packaging/matabeitt%40Local/npm/:email=npm requires email to be set but doesn't use the value
; end auth token