<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/voucher_check" method="post">
        <label for="voucher">Voucher</label>
        <input type="text" name="voucher" id="voucher">
        <label for="value">Amount</label>
        <input type="number" name="total" id="total">
        <button type="submit">Go</button>
    </form>
</body>
</html>